IndentWidth: 2
UseTab: Never
DerivePointerAlignment: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: true
  AtStartOfFile: true
IndentPPDirectives: BeforeHash
IndentCaseBlocks: true
MaxEmptyLinesToKeep: 3
BraceWrapping:
  AfterNamespace: false
  AfterCaseLabel: true
  BeforeLambdaBody: true
InsertTrailingCommas: Wrapped

