BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 180
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: true
MacroBlockBegin: "^#pragma region"
MacroBlockEnd: "^#pragma endregion"
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
